.row {
	height: 20px;
}

h1 {
	text-align: center;
}

.square {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-color: #eee;
	border: 1px solid #c8c8c8;
}

.square-exposed {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-color: #ffd876;
	cursor: pointer;
	border: 1px solid #c8c8c8;
}

#grid {
	margin: 0 auto;
	width: 440px;
}